$fs-body: 14px;
$fs-h1: 16px;
$fs-smaller: 12px;

body {
    font-size: $fs-body;

    h1 {
        font-size: $fs-h1;


        &.smaller {
            font-size: $fs-smaller
        }
    }
}
